.fc-basic-view .fc-sun,.fc-basic-view .fc-sat {
    background-color: #eeeeee;
}
.fc-year-view .fc-bg .fc-sun,.fc-year-view .fc-bg .fc-sat {
    background-color: #eeeeee;
}
.fc-year-view .fc-year-week-days .fc-sun,.fc-year-view .fc-year-week-days .fc-sat {
    background-color: #eeeeee;
}

.fc-holiday {
    background-color: #aaaaaa;
}

.fc-start > .fc-content > .fc-title {
    border-style: solid;
    border-color: black;
    border-width: 8px;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
}

.fc-title {
    color: black;
    padding-left: 3px;
}

.fc-day-grid-event {
    padding: 0 !important;
}

.states-not-required {
    color: #aaaaaa;
}

.states-pending {
    color: #ff0000;
}

.states-doing {
    color: #ffff00;
}

.states-done {
    color: #00ff00;
}
.copy-to-vip {
    margin-left:6px;
    cursor:pointer;
    z-index:10;
}